EMAIL_USERNAME: "sample@sample.com"
EMAIL_PASSWORD: "sample1"
HOST: "localhost:3000"
SMTP_ADDRESS: "smtp.gmail.com"
SMTP_DOMAIN: "gmail.com"

DATABASE_HOSTNAME: "localhost"
DATABASE_NAME: "ArsenalMedia24_development"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: ""
REDIS_HOSTNAME: "localhost"

RAILS_ENV: "development"
SECRET_KEY_BASE: "e1624f63b243158b89ec2d4592fc674036957d24de8a89f0efc7c911e76f03195a9a40722472f67e2d79a6d1252a2923c6032a2c232c6ab4eb9c66a074d8ba7f"
